* {
    box-sizing: border-box;
}


/**body左右線=============================================================================================**/
body {
    position: relative;
}

div.body_reigt_line {
    display: block;
    width: 1.5px;
    height: 100%;
    background-color: #e9c27f;
    position: absolute;
    right: 100px;
    z-index: 3;
}

div.body_left_line {
    display: block;
    width: 1.5px;
    height: 100%;
    background-color: #e9c27f;
    position: absolute;
    left: 100px;
    z-index: 3;
}

/* body左右線--rwd設定-*/

@media screen and (max-width: 1400px) {

    div.body_reigt_line,
    div.body_left_line {
        display: none;
    }
}

/**=========================================================================================================================**/


/**=標題===============================================================================================================**/


div.team_items {
    /* border: 1px solid red; */
    text-align: center;
}

div.team_items h1 {
    font-size: 44px;
    font-family: "Cormorant Garamond", serif;
    color: #e9c27f;
    padding: 60px 0 12px 0;
    letter-spacing: .8rem;
}

div.team_items p {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    padding: 0px 0 44px 0;
    letter-spacing: .4rem;
    text-transform: uppercase;
    color: rgb(72, 72, 72);
    font-weight: 500;
}

div.team_items.two p {
    padding: 0px 0 50px 0;
}

/**=標題RWD OK------------------------------------------------------------------------------------------------------*/


@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
    div.team_items h1 {
        font-size: 35px;
        padding: 30px 0 12px 0;
    }

    div.team_items.two p {
        font-size: 13px;
        padding: 0px 0 14px 0;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    div.team_items h1 {
        font-size: 35px;
        padding: 30px 0 12px 0;
    }

    div.team_items.two p {
        font-size: 13px;
        padding: 0px 0 14px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    div.team_items h1 {
        font-size: 35px;
        padding: 30px 0 24px 0;
    }

    div.team_items.two p {
        font-size: 13px;
        padding: 0px 0 24px 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    div.team_items h1 {
        font-size: 35px;
        padding: 30px 0 24px 0;
    }

    div.team_items.two p {
        font-size: 13px;
        padding: 0px 0 24px 0;
    }
}

@media screen and (max-width: 575.98px) {
    div.team_items h1 {
        font-size: 35px;
        padding: 30px 0 24px 0;
    }

    div.team_items.two p {
        font-size: 13px;
        padding: 0px 0 24px 0;
    }
}

/**=========================================================================================================================**/

/**banner區塊-=====================================================================================================**/

div.BN_Column {
    /* border: 1px solid rgb(219, 17, 10); */
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

div.BN_Column_black {
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: rgb(0, 0, 0);
    opacity: 0.4;
    z-index: 1;
}

img.BN_Column_img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    bottom: 0;
    object-fit: cover;
}

div.BN_Column_font p {
    /* border: 1px solid rgb(219, 17, 10); */
    white-space: nowrap;
    position: absolute;
    overflow: hidden;
    z-index: 2;
    line-height: 1.5;
    font-size: 32px;
    align-self: center;
    color: white;
    left: 15%;
    top: 35%;
    letter-spacing: .5rem;
}

div.BN_Column_font p {
    animation: animated-text 2s steps(30, end) 1s 1 normal both;
}

@keyframes animated-text {
    from {
        width: 0;
    }

    to {
        width: 472px;
    }
}

/**banner區塊RWD OK------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    div.BN_Column {
        border: 1px solid rgb(219, 17, 10);
        height: 300px;
    }

    div.BN_Column_black {
        border: 1px solid rgb(59, 84, 5);
        width: 100%;
        height: 500px;
    }

    div.BN_Column_font p {
        border: 1px solid rgb(5, 95, 128);
        line-height: 1.5;
        font-size: 25px;
        left: 12%;
        top: 35%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    div.BN_Column {
        border: 1px solid rgb(219, 17, 10);
        height: 300px;
    }

    div.BN_Column_black {
        border: 1px solid rgb(59, 84, 5);
        width: 100%;
        height: 500px;
    }

    div.BN_Column_font p {
        border: 1px solid rgb(5, 95, 128);
        line-height: 1.5;
        font-size: 25px;
        left: 12%;
        top: 35%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    div.BN_Column {
        border: 1px solid rgb(219, 17, 10);
        height: 300px;
    }

    div.BN_Column_black {
        border: 1px solid rgb(59, 84, 5);
        width: 100%;
        height: 500px;
    }

    div.BN_Column_font p {
        border: 1px solid rgb(5, 95, 128);
        line-height: 1.5;
        font-size: 25px;
        left: 12%;
        top: 35%;
    }
}

@media screen and (max-width: 575.98px) {
    div.BN_Column {
        border: 1px solid rgb(219, 17, 10);
        height: 200px;
    }

    div.BN_Column_black {
        border: 1px solid rgb(59, 84, 5);
        width: 100%;
        height: 500px;
    }

    div.BN_Column_font p {
        border: 1px solid rgb(5, 95, 128);
        line-height: 1.5;
        font-size: 16px;
        left: 5%;
        top: 35%;
    }
}

/**=========================================================================================================================**/


/*預約==================================================================================**/

/* div.time{
    border: 1px solid red;
} */

div.time_wrap {
    border: 3px solid rgb(134, 88, 67);
    border-radius: 25px;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 30px;

}

/**=========================================================================================================================**/


/*表單預約=================================================================================================================**/


div.container {
    border: 1px solid rgb(250, 50, 5);
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    margin-bottom: 40px;
    border-radius: 10px;
    overflow: hidden;
}

div.from_img {
    border: 2px solid rgb(18, 5, 65);
    width: 50%;
    overflow: hidden;
    position: relative;
}

div.from_img img {
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    bottom: 0;
    object-fit: cover;
    -webkit-filter: brightness(0.8);
}

div.connection {
    position: absolute;
    top: 100px;
    left: 110px;
    background-color: rgb(134, 88, 67);
    outline: 2px solid rgb(134, 88, 67);
    outline-offset: 8px;
    padding: 20px;
}

div.connection_text {
    /* border: 1px solid rgb(215, 101, 45); */
    text-align: center;
    padding: px 20px;
}

h1.title {
    font-size: 40px;
    color: #fff;
    letter-spacing: 10px;
    margin-bottom: 5px;
}

h2.title2 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #fff;
    letter-spacing: 3px;
}

span.text2,
span.text3,
span.text4 {
    display: block;
    margin: 15px 0;
    color: #fff;
    letter-spacing: 2px;
    padding-right: 5px;
}

span.text2:hover,
span.text3:hover,
span.text4:hover {
    color: #e9c27f;
}

div.base {
    /* border: 1px solid rgb(206, 19, 5); */
    display: block;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    background-color: #8b6349;
    padding: 40px;
    padding-bottom: 80px;
}

label[for="name"],
label[for="email"],
label[for="phone"],
label[for="serve"],
label[for="date"] {
    color: white;
    letter-spacing: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select[id="serve"],
input[type="date"] {
    display: block;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin: 8px 0 20px 0;
    /* outline: none; */
    outline-color: #e9c27f;
}

select option {
    letter-spacing: 5px;
}

div.reserve {
    margin: 30px 0;
}

div.noon h2,
div.night h2 {
    color: aliceblue;
    margin-top: 10px;

}

button[type="button"] {
    margin: 5px 8px 5px 0;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    border: 2.3px solid #e9c27f;
    background-color: #d5995c;
    color: #ffffff;
}

button[type="button"]:hover {
    background-color: #ffc9a2;
    border-radius: 50px;
    color: rgb(134, 88, 67);
}

textarea {
    max-height: 150px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    outline-color: #e9c27f;
}

label.message {
    /* border: 1px solid red; */
    margin: 10px 0;
    display: block;
}

label.message p {
    font-size: 25px;
    color: white;
}

input[type="submit"] {
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
}

input[type="submit"]:hover {
    background-color: #ff4545;
    border-radius: 5px;
}


/*表單預約------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
    div.container {
        width: 85%;
        height: 100%;
    }

    div.connection {
        top: 100px;
        left: 140px;
        outline-offset: 8px;
        padding: 0px;

    }

    div.connection_text {
        /* border: 1px solid rgb(215, 101, 45); */
        text-align: center;
        padding: 10px;
    }

    h1.title {
        font-size: 30px;
        margin-bottom: 5px;
        margin-top: 15px;
    }

    h2.title2 {
        font-size: 15px;
        margin-bottom: 20px;
        color: #fff;
        letter-spacing: 3px;
    }

    span.text2,
    span.text3,
    span.text4 {
        font-size: 10px;
        display: block;
        letter-spacing: 2px;
        padding-right: 5px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    div.container {
        width: 85%;
        height: 100%;
    }

    div.connection {
        top: 100px;
        left: 140px;
        outline-offset: 8px;
        padding: 0px;

    }

    div.connection_text {
        /* border: 1px solid rgb(215, 101, 45); */
        text-align: center;
        padding: 10px;
    }

    h1.title {
        font-size: 30px;
        margin-bottom: 5px;
        margin-top: 15px;
    }

    h2.title2 {
        font-size: 15px;
        margin-bottom: 20px;
        color: #fff;
        letter-spacing: 3px;
    }

    span.text2,
    span.text3,
    span.text4 {
        font-size: 10px;
        display: block;
        letter-spacing: 2px;
        padding-right: 5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    div.container {
        width: 85%;
        height: 100%;
    }

    div.connection {
        top: 100px;
        left: 45px;
        outline-offset: 8px;
        padding: 0px;

    }

    div.connection_text {
        /* border: 1px solid rgb(215, 101, 45); */
        text-align: center;
        padding: 10px;
    }

    h1.title {
        font-size: 30px;
        margin-bottom: 5px;
        margin-top: 13px;
    }

    h2.title2 {
        font-size: 15px;
        margin-bottom: 20px;
        color: #fff;
        letter-spacing: 3px;
    }

    span.text2,
    span.text3,
    span.text4 {
        font-size: 10px;
        display: block;
        letter-spacing: 2px;
        padding-right: 5px;
    }

}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    div.container {
        border: 1px solid rgb(250, 50, 5);
        width: 80%;
        height: 100%;
        display: block;
    }

    div.from_img {
        display: none;
    }

    div.base {
        /* border: 1px solid rgb(206, 19, 5); */
        height: 100%;
        width: 100%;
        padding: 20px;
    }



    select option {
        letter-spacing: 5px;
    }

    div.reserve {
        margin: 30px 0;
    }

    div.noon h2,
    div.night h2 {
        color: aliceblue;
        margin-top: 10px;

    }
}

@media screen and (max-width: 575.98px) {
    div.container {
        border: 1px solid rgb(250, 50, 5);
        width: 90%;
        height: 100%;
        display: block;
    }

    div.from_img {
        display: none;
    }

    div.base {
        /* border: 1px solid rgb(206, 19, 5); */
        height: 100%;
        width: 100%;
        padding: 20px;
    }



    select option {
        letter-spacing: 5px;
    }

    div.reserve {
        margin: 30px 0;
    }

    div.noon h2,
    div.night h2 {
        color: aliceblue;
        margin-top: 10px;

    }

}


/**=========================================================================================================================**/


/*地圖 =========================================================================================================================**/

div.location-info {
    max-width: 1100px;
    margin: auto;
    margin-bottom: 80px;
    border: 5px solid rgb(134, 88, 67);
    outline-offset: 5px;
    border-radius: 5px;
}

div.location-info iframe {
    width: 100%;
}

/**=地圖RWD OK------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1399.98px) {
    div.location-info {
        width: 60%;
        margin-bottom: 40px;
        height: 300px;
        overflow: hidden;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
    div.location-info {
        width: 85%;
        margin-bottom: 40px;
        height: 450px;
        overflow: hidden;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    div.location-info {
        width: 85%;
        margin-bottom: 40px;
        height: 400px;
        overflow: hidden;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    div.location-info {
        width: 85%;
        margin-bottom: 40px;
        height: 400px;
        overflow: hidden;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    div.location-info {
        width: 85%;
        margin-bottom: 40px;
        height: 350px;
        overflow: hidden;
    }
}

@media screen and (max-width: 575.98px) {
    div.location-info {
        width: 85%;
        margin-bottom: 40px;
        height: 300px;
        overflow: hidden;
    }
}

/**=========================================================================================================================**/


/**置頂按鈕==========================================================================================================**/
.sticky-icon img {
    position: fixed;
    bottom: 50px;
    right: 75px;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 200;
    border: 3px solid #e9c27f;
}

/**版權聲明======================================================================================================**/

div.earning_statement {
    /* border: 1px solid rgb(255, 0, 0); */
    background-color: #624a3a;
    width: 100%;
}

div.earning_statement_wrap {
    padding: 10px;
    /* border: 2px solid rgb(53, 83, 218); */
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

div.earning_statement p {
    word-break: normal;
    color: rgb(255, 255, 255);
    line-height: 25px;
}

/**=========================================================================================================================**/






@media screen and (min-width: 1200px) and (max-width: 1399.98px) {}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {}

@media screen and (min-width: 768px) and (max-width: 991.98px) {}

@media screen and (min-width: 576px) and (max-width: 767.98px) {}

@media screen and (max-width: 575.98px) {}